.cm-s-codesplain {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  height: 100%;
}

.cm-s-codesplain span {
  font-size: 108%;
  line-height: 108%;
  padding-top: 0.5%;
}

.ReactCodeMirror {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: auto;
  height: 80%;
}
