.cm-s-codesplain span {
  font-size: 108%;
  line-height: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.snippetarea {
  width: 20% !important;
  padding-left: 10
}

.styles-tokenselector {
  width: 75% !important;
}

.style-textfield {
  paddingLeft: 0%;
  width: 550px;
  position: relative;
}

.style-lockbutton {
  position: absolute;
}

.CodeMirror {
  height: auto;
}

.style-listheight {
  height: 30px !important;
  font-size: 14px !important;
  padding-left: 30% !important;
}

.style-selector {
  width: 20 !important;
}




/*.col-md-6-style-snippetarea {
  padding-left: 4% !important;
}*/
