html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: inherit;
}

.rule-label {
  box-sizing: border-box;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 1 auto;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 10pt;
  line-height: 1;
  max-width: 300px;
  min-width: 130px;
  padding: 5px;
  width: 50%;
}

.rule-selector-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}

#root {
  height: inherit;
}

.CodeMirror {
  flex: 1 1 auto;
  height: 100%;
}

.CodeMirror span {
  font-size: 105%;
  line-height: 130%;
  padding-top: 2px;
  padding-bottom: 3px;
}

.CodeMirror-linenumber {
  padding-top: 3px;
}

.CodeMirror-linenumbers {
  width: 40px;
}

.section-title {
  margin-bottom: 0;
}

.ReactCodeMirror {
  flex: 3 1 auto;
  height: 80%;
}

#app-body {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  flex-flow: row wrap;
  height: 100%;
  overflow: auto;
}

#app-body-right-section {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1;
  height: 100%;
  min-width: 300px;
  overflow-y: auto;
  max-width: 35%;
}

#app-body-snippet-area {
  height: 100%;
  flex: 2 1;
  max-width: 65%;
  overflow: auto;
}

#app-body-snippet-area > div > div {
  height:inherit;
}

@media screen and (max-width: 680px) {
  #app-body {
    height: auto;
    flex-flow: column nowrap;
  }

  #app-body-right-section {
    max-width: 100%;
    overflow-y: visible;
  }

  #app-body-snippet-area {
    max-width: 100%;
    min-height: 50vh;
  }
}
